:root{
    --text_light: #FDFFFC;
    --background: #FDFFFC;
    --text_dark: #246EB9;
    --buttons:#4CB944;
}

html{
    background-color: var(--background);
}

body{
    color: var(--text_dark);
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-image: url("background.png");

}

h1, a{
    font-size: 4.5em;
}

.submit{
    background-color: var(--buttons);
    color: var(--text_light);
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 200px;
    font-size: 1.2em;

}

#username, #password, .label{
    font-size: 1.5em;
}

.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "recipe1"
      "recipe2"
      "recipe3"
      "recipe4"
      "recipe-5";
  }
  
  .recipe2 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info2 img2";
    grid-area: recipe2;
  }
  
  .info2 { grid-area: info2; }
  
  .img2 { grid-area: img2; }
  
  .recipe3 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info3 img3";
    grid-area: recipe3;
  }
  
  .info3 { grid-area: info3; }
  
  .img3 { grid-area: img3; }
  
  .recipe4 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info4 img4";
    grid-area: recipe4;
  }
  
  .info4 { grid-area: info4; }
  
  .img4 { grid-area: img4; }
  
  .recipe-5 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info5 img5";
    grid-area: recipe-5;
  }
  
  .info5 { grid-area: info5; }
  
  .img5 { grid-area: img5; }
  
  .recipe1 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "info1 img1";
    grid-area: recipe1;
  }
  
  .info1 { grid-area: info1; }
  
  .img1 { grid-area: img1; }


.img1, .img2, .img3, .img4, .img5{
    width:200px;
}
  


