<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Anja Samsom and Makayla Alber" />
    <title>PantryPal</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
</head>

<body>
    <form action="/home" method="POST">
        <input type="image" src="static/logo.png" name="logo" />
    </form>
    <h1>Cookbook!</h1>
    <div class="container">

        <div class="recipe1">
            <div class="info1">
                <h2>Broccoli Coconut Noodles</h2>
                <h4>You have these ingredients in your kitchen:</h4>
                {%for line in r1h%}
                <p>{{line}}
                <p>
                {%endfor%}

                <h4>And must purchase these ingredients to make the dish:</h4>
                {%for line in r1d%}
                <p>{{line}}
                <p>
                {%endfor%}

                <form action="add_list.py" method="post">
                    <input class = "submit" type="submit" name="submit" value = "Add ingredients to list">
                </form>

            </div>
            <img class="img1" src="static/broccoli_coconut_noodles.jpg">

        </div>

        <div class="recipe2">
            <div class="info2">
                <h2>Chicken Marsala Pasta</h2>
                <h4>You have these ingredients in your kitchen:</h4>
                {%for line in r2h%}
                <p>{{line}}
                <p>
                {%endfor%}

                <h4>And must purchase these ingredients to make the dish:</h4>
                {%for line in r2d%}
                <p>{{line}}
                <p>
                {%endfor%}

            </div>
            <img class="img2" src="static/chicken_marsala_pasta.jpg">

        </div>

        <div class="recipe3">
            <div class="info3">
                <h2>Fried Rice with Salad</h2>
                <h4>You have these ingredients in your kitchen:</h4>
                {%for line in r3h%}
                <p>{{line}}
                <p>
                {%endfor%}

                <h4>And must purchase these ingredients to make the dish:</h4>
                {%for line in r3d%}
                <p>{{line}}
                <p>
                {%endfor%}

            </div>
            <img class="img3" src="static/fried_rice_with_salad.jpg">

        </div>

        <div class="recipe4">
            <div class="info4">
                <h2>Honey Lemon Salmon</h2>

                <h4>You have these ingredients in your kitchen:</h4>
                {%for line in r4h%}
                <p>{{line}}
                <p>
                {%endfor%}

                <h4>And must purchase these ingredients to make the dish:</h4>
                {%for line in r4d%}
                <p>{{line}}
                <p>
                {%endfor%}


            </div>
            <img class="img4" src="static/honey_lemon_salmon.jpg">

        </div>

        <div class="recipe5">
            <div class="info5">
                <h2>Spicy Peanut Noodles</h2>

                <h4>You have these ingredients in your kitchen:</h4>
                {%for line in r5h%}
                <p>{{line}}
                <p>
                {%endfor%}

                <h4>And must purchase these ingredients to make the dish:</h4>
                {%for line in r5d%}
                <p>{{line}}
                <p>
                {%endfor%}
  

            </div>
            <img class="img5" src="static/spicy_peanut_noodles.jpg">
        </div>

    </div>




</body>


</html>