<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Anja Samsom and Makayla Alber" />
    <title>PantryPal</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
</head>

<body>
    <h1>PantryPal</h1>
    <section>
        <form action="/fridge" method="POST">
            <input type="image" src="static/fridge.png" name="fridge" />
        </form>

        <form action="/cookbook" method="POST">
            <input type="image" src="static/cookbook.png" name="cookbook"/>
        </form>

        <form action="/cart" method="POST">
            <input type="image" src="static/cart.png" name="cart"/>
        </form>

    </section>

  
</body>


</html>