<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Anja Samsom" />
    <title>PantryPal</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
</head>

<body>
    <form action="/home" method="POST">
        <input type="image" src="static/logo.png" name="logo" />
    </form> 
    <h1>Welcome {{username}}!</h1>

        <form action="/fridge" method="POST">
            <input type="image" src="static/fridge.png" name="fridge" />
        </form>

        <form action="/cookbook" method="POST">
            <input type="image" src="static/cookbook.png" name="cookbook"/>
        </form>

        <form action="/shopping_list" method="POST">
            <input type="image" src="static/cart.png" name="cart"/>
        </form>

    </section>

  
</body>


</html>