<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Anja Samsom and Makayla Alber" />
    <title>PantryPal</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
</head>

<body>
    <form action="/home" method="POST">
        <input type="image" src="static/logo.png" name="logo" />
    </form>
    <h2>Shopping List</h2>

    <h3>ADD INGREDIENTS TO YOUR LIST</h3>

    {%for line in data%}
    <p>{{line}}
    <p>
    {%endfor%}

    <form action="write_data_add.py" method="post">
        Type the ingredients to add:<br>
        <input type="text" name="text"><br>
        <input type="submit" name="submit">
    </form>


    <h3>REMOVE INGREDIENTS THAT YOU HAVE BOUGHT</h3>

    <form action="remove.py" method="post">
        Type the ingredients to remove:<br>
        <input type="text" name="text"><br>
        <input type="submit" name="submit">
    </form>
</body>


</html>